.auth {
    margin: 1.23rem auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 1rem;
    box-sizing: border-box;
}

.auth-form {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: block;
}

@media (min-width: 600px) {
    .auth {
        width: 500px;
    }
}